.Card {
    --card-border-radius: 3px;
    --card-padding-top: 8px;
    --card-padding-right: 8px;
    --card-padding-bottom: 8px;
    --card-padding-left: 12px;
    --card-margin-bottom: 8px;
    --card-margin-top: 8px;
    padding: var(--card-padding-top) var(--card-padding-right) var(--card-padding-bottom) var(--card-padding-left);
    background-color: #FFFFFF;
    box-shadow: 0px 1px 4px rgba(9, 45, 66, 0.25);
    border-radius: var(--card-border-radius);
    margin-bottom: var(--card-margin-bottom);
    margin-top: var(--card-margin-top);
}

/* //.Card:last-child {
    //margin-bottom: 0;
//} */
