.Board {
    --board-padding-top: 21px;
    --board-padding-right: 56px;
    --board-padding-bottom: 20px;
    --board-padding-left: 14px;
    --board-add-column-pane-hori-padding: 12px;
    --board-add-column-pane-total-width: 272px;
    --board-add-column-pane-width: calc(var(--board-add-column-pane-total-width) - 2 * var(--board-add-column-pane-hori-padding));
    --board-total-height: 100vh;

    display: inline-flex;
    position: relative;
    flex-direction: row;
    align-items: flex-start;
    padding: var(--board-padding-top) var(--board-padding-right) var(--board-padding-bottom) var(--board-padding-left);
    height: calc(var(--board-total-height) - var(--board-padding-top) - var(--board-padding-bottom));
}

.Board-AddColumnPane {
    --board-add-column-pane-hori-padding: 12px;
    --board-add-column-pane-vert-padding: 12px;
    --board-add-column-pane-total-width: 272px;
    --board-add-column-pane-border-radius: 3px;
    --board-add-column-pane-width: calc(var(--board-add-column-pane-total-width) - 2 * var(--board-add-column-pane-hori-padding));

    width: var(--board-add-column-pane-width);
    padding: var(--board-add-column-pane-hori-padding) var(--board-add-column-pane-vert-padding);
    background-color: #DFE3E6;
    border-radius: var(--board-add-column-pane-border-radius);
    color: #6B808C;
    flex: 0 0 auto;
    margin-left: 6px;
}

.Board-AddColumnControl {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.Board-AddColumnControl :hover {
    cursor: pointer;
}

.Board-AddColumnPlusIcon {
    margin-right: 8px
}

.Board-SubmitColumnPane {
    display: flex;
    justify-content: space-between;
}

.Board-NewColumnContentInput {
    width: 100%;
    box-sizing: border-box;
    resize: none;
    background: #FFFFFF;
    border: 1px solid transparent;
    box-shadow: 0px 1px rgba(9, 45, 66, 0.25);
    border-radius: 3px;
    margin-bottom: 7px;
    line-height: 19px;
}

.Board-SubmitColumnControl {
    --app-font-family: 'Montserrat', sans-serif;
    font-family: var(--app-font-family);
    font-weight: bold;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: inline-block;
    border: none;
    text-decoration: none;
    cursor: pointer;


    --board-submitcardcontrol-border-radius: 3px;
    background-color: #39C071;
    color: #FFFFFF;
    border-radius: var(--board-submitcardcontrol-border-radius);
    font-weight: bold;
    height: 30px;
}

.Board-SubmitColumnControl:active {
    transform: scale(0.99);
  }

.Column-DiscardColumnControl {
    cursor: pointer;
}