.App {
  --app-font-family: 'Montserrat', sans-serif;
  --app-font-style: normal;
  --app-font-weight: normal;
  --app-font-size: 13px;
  
  position: relative;
  overflow-x: auto;
  height: 100vh;
  background: url(./background.jpeg);
  background-size: cover;
  font-family: var(--app-font-family);
  font-style: var(--app-font-style);
  font-weight: var(--app-font-weight);
  font-size: var(--app-font-size);
}