.Column {
    --column-border-radius: 3px;
    --column-total-width: 272px;
    --column-hori-padding: 12px;
    --column-hori-margin: 6px;
    --column-width: calc(var(--column-total-width) - 2 * var(--column-hori-padding));

    width: var(--column-width);
    background-color: #DFE3E6;
    margin: 0 var(--column-hori-margin);
    padding: 0 var(--column-hori-padding);
    border-radius: var(--column-border-radius);
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    max-height: 100%;
}

.Column-Header {
    --column-header-margin-top: 8px ;
    --column-header-margin-bottom: 4px;
    --column-header-line-height: 19px;

    margin: var(--column-header-margin-top) 0 var(--column-header-margin-bottom) 0;
    line-height: var(--column-header-line-height);
    font-weight: bold;
}

.Column-List {
    overflow-y: auto;
    min-height: 4px;
}

.Column-Footer {
    padding: 0px 0px 12px 0px;
}

.Column-AddCardPane {
    display: flex;
    justify-content: space-between;
}

.Column-AddCardControl {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: #6B808C;
}

.Column-AddCardControl :hover {
    cursor: pointer;
}

.Column-NewCardContentInput {
    width: 100%;
    box-sizing: border-box;
    resize: none;
    background: #FFFFFF;
    border: 1px solid transparent;
    box-shadow: 0px 1px rgba(9, 45, 66, 0.25);
    border-radius: 3px;
    margin-bottom: 7px;
}

.Column-NewCardContentInputPane {
    margin-top: 8px;
}

.Column-SubmitCardControl {
    --app-font-family: 'Montserrat', sans-serif;
    font-family: var(--app-font-family);
    font-weight: bold;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: inline-block;
    border: none;
    text-decoration: none;
    cursor: pointer;

    --column-submitcardcontrol-border-radius: 3px;
    background-color: #39C071;
    color: #FFFFFF;
    border-radius: var(--column-submitcardcontrol-border-radius);
    font-weight: bold;
    height: 30px;
}

.Column-SubmitCardControl:active {
    transform: scale(0.99);
  }

.Column-DiscardCardControl {
    cursor: pointer;
}